<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>dieselbot</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="search-results.css">
</head>
<body>
  <main class="container">
      {{#if place_id}}
        <section class="map">
            <iframe
            class="embed"
            frameborder="0" style="border:0"
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDoD9xMipsgP9IeW130_XSz5MWLDIIC0kQ&q=place_id:{{place_id}}"
            allowfullscreen>
            </iframe>
        </section>
        <section class="fuel-stops">
          {{#each fuel_stops}}
            <article class="fuel-stop {{#if (iszero @index)}} selected {{/if}}" data-place-id="{{place_id}}">
                <b>{{display_name}}</b>
                <p>{{address}}</p>
            </article>
          {{/each}}
        </section>
      {{/if}}
    </main>
  {{#if fuel_stops_not_found}}
    <section class="not-found">
      {{> no_results_found fuel_stops=fuel_stops_not_found}}
    </section>
  {{/if}}
  {{#if error_message}}
  <section class="not-found">
    {{> invalid_fuel_solution error_message=error_message}}
  </section>
  {{/if}}
</body>
<script src="search-results.js"></script>
</html>