<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EFS Helper</title>
  <style>
    body {
        display: flex;
        flex-direction: column;
    }
  </style>
</head>
<body>
  {{#if results}}
    {{#each results}}
      <p>{{this.display_name}}<br>{{this.address}}</p>
      <br>
    {{/each}}
  {{/if}}
</body>
</html>