<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>dieselbot</title>
  <style>
    body {
        display: flex;
        flex-direction: column;
    }
  </style>
</head>
<body>
  {{#if fuel_stops}}
    {{> search_results fuel_stops=fuel_stops}}
  {{/if}}
  {{#if fuel_stops_not_found}}
    {{> no_results_found fuel_stops=fuel_stops_not_found}}
  {{/if}}
  {{#if error_message}}
    {{> invalid_fuel_solution error_message=error_message}}
  {{/if}}
</body>
</html>